# DSCI 100 - Introduction to Data Science


## Lecture 3 - Wrangling to get tidy data


### 2019-01-17

## Reminder  

Where are we? Where are we going?

![](https://d33wubrfki0l68.cloudfront.net/571b056757d68e6df81a3e3853f54d3c76ad6efc/32d37/diagrams/data-science.png)

*image source: [R for Data Science](https://r4ds.had.co.nz/) by Grolemund & Wickham*

## Shameless borrowing of slides from Jenny Bryan

https://www.slideshare.net/Plotly/plotcon-nyc-behind-every-great-plot-theres-a-great-deal-of-wrangling

<img src="img/whisperer.png" width="700"/>

<img src="img/on_balcony.png" width="700"/>

<img src="img/tame.png" width="700"/>

## How should you wrangle your data?

## We make it "tidy"

## Lord of the Rings example

I will give you a concrete example of some untidy data  from
[this data from the Lord of the Rings
Trilogy](https://github.com/jennybc/lotr).

<table border="1">

<tr>

<td>

<!-- html table generated in R 3.5.1 by xtable 1.8-3 package -->

<!-- Tue Oct 16 10:15:55 2018 -->

<table border="1">

<caption align="top">

The Fellowship Of The Ring

</caption>

<tr>

<th>

Race

</th>

<th>

Female

</th>

<th>

Male

</th>

</tr>

<tr>

<td>

Elf

</td>

<td align="right">

1229

</td>

<td align="right">

971

</td>

</tr>

<tr>

<td>

Hobbit

</td>

<td align="right">

14

</td>

<td align="right">

3644

</td>

</tr>

<tr>

<td>

Man

</td>

<td align="right">

0

</td>

<td align="right">

1995

</td>

</tr>

</table>

</td>

<td>

<!-- html table generated in R 3.5.1 by xtable 1.8-3 package -->

<!-- Tue Oct 16 10:15:55 2018 -->

<table border="1">

<caption align="top">

The Two Towers

</caption>

<tr>

<th>

Race

</th>

<th>

Female

</th>

<th>

Male

</th>

</tr>

<tr>

<td>

Elf

</td>

<td align="right">

331

</td>

<td align="right">

513

</td>

</tr>

<tr>

<td>

Hobbit

</td>

<td align="right">

0

</td>

<td align="right">

2463

</td>

</tr>

<tr>

<td>

Man

</td>

<td align="right">

401

</td>

<td align="right">

3589

</td>

</tr>

</table>

</td>

<td>

<!-- html table generated in R 3.5.1 by xtable 1.8-3 package -->

<!-- Tue Oct 16 10:15:56 2018 -->

<table border="1">

<caption align="top">

The Return Of The King

</caption>

<tr>

<th>

Race

</th>

<th>

Female

</th>

<th>

Male

</th>

</tr>

<tr>

<td>

Elf

</td>

<td align="right">

183

</td>

<td align="right">

510

</td>

</tr>

<tr>

<td>

Hobbit

</td>

<td align="right">

2

</td>

<td align="right">

2673

</td>

</tr>

<tr>

<td>

Man

</td>

<td align="right">

268

</td>

<td align="right">

2459

</td>

</tr>

</table>

</td>

</tr>

</table>

Hereâ€™s how the same data looks in tidy form:

<!-- html table generated in R 3.5.1 by xtable 1.8-3 package -->

<!-- Tue Oct 16 10:15:56 2018 -->

<table border="1">

<tr>

<th>

Film

</th>

<th>

Gender

</th>

<th>

Race

</th>

<th>

Words

</th>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Female

</td>

<td>

Elf

</td>

<td align="right">

1229

</td>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Male

</td>

<td>

Elf

</td>

<td align="right">

971

</td>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Female

</td>

<td>

Hobbit

</td>

<td align="right">

14

</td>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Male

</td>

<td>

Hobbit

</td>

<td align="right">

3644

</td>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Female

</td>

<td>

Man

</td>

<td align="right">

0

</td>

</tr>

<tr>

<td>

The Fellowship Of The Ring

</td>

<td>

Male

</td>

<td>

Man

</td>

<td align="right">

1995

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Female

</td>

<td>

Elf

</td>

<td align="right">

331

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Male

</td>

<td>

Elf

</td>

<td align="right">

513

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Female

</td>

<td>

Hobbit

</td>

<td align="right">

0

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Male

</td>

<td>

Hobbit

</td>

<td align="right">

2463

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Female

</td>

<td>

Man

</td>

<td align="right">

401

</td>

</tr>

<tr>

<td>

The Two Towers

</td>

<td>

Male

</td>

<td>

Man

</td>

<td align="right">

3589

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Female

</td>

<td>

Elf

</td>

<td align="right">

183

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Male

</td>

<td>

Elf

</td>

<td align="right">

510

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Female

</td>

<td>

Hobbit

</td>

<td align="right">

2

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Male

</td>

<td>

Hobbit

</td>

<td align="right">

2673

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Female

</td>

<td>

Man

</td>

<td align="right">

268

</td>

</tr>

<tr>

<td>

The Return Of The King

</td>

<td>

Male

</td>

<td>

Man

</td>

<td align="right">

2459

</td>

</tr>

</table>

### What is tidy data?

A tidy data is one that is satified by these three criteria:

- each row is a single observation,
- each variable is a single column, and
- each value is a single cell (i.e., its row, column position in the data frame is not shared with another value)

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" width="550" />
*image source: [R for Data Science](https://r4ds.had.co.nz/) by Garrett Grolemund & Hadley Wickham*

## Tools for getting it there:

- `tidyverse` package functions from: 
    - `dplyr` package (`select`, `filter`, `mutate`, `group_by`, `summarize`)
    
    - `tidyr` package (`gather`)
    
    - `purrr` package (`*map*`)

## Another big concept this week: iteration

- iteration is when you need to do something repeatedly (e.g., ringing in and bagging groceries at the till)

![](https://www.ecomcrew.com/wp-content/uploads/2015/07/bar-code-scanning-grocery-store.jpg)

## Tidyverse tools for iteration

1. `group_by` + `summarize`
2. `*map*`

## `group_by` + `summarize`

- useful when you want to do something repeatedly to a group of rows
- an example, we want to calculate the average life expectancy (`lifeExp`) for each continent from the `gapminder` data set

## First, let's filter for only 1 year, 2007

## Now let's use `group_by` + `summarize` to iterate

Goal: calculate average life expectancy for each continent

## `*map*` 

- useful when you want to do something repeatedly to almost anything (we'll give the example of columns in a data frame)
- an example, we want to calculate the average value for each column from the `USAarrests` data to get the average across all US states

In [1]:
head(USArrests)

           Murder Assault UrbanPop Rape
Alabama    13.2   236     58       21.2
Alaska     10.0   263     48       44.5
Arizona     8.1   294     80       31.0
Arkansas    8.8   190     50       19.5
California  9.0   276     91       40.6
Colorado    7.9   204     78       38.7

## use `*map*` to iterate

But why isn't our output a data frame?

##  `*map*` functions output depends on which function you use...

| `map` function | Output |
|----------|--------|
| `map()` | list |
| `map_lgl()` | logical vector |
| `map_int()` | integer vector |
| `map_dbl()` | double vector |
| `map_chr()` | character vector |
| `map_df()` | data frame |

## use `map_df` instead:

## Go forth and wrangle!

we'll be here to help if you need it!

<img align="left" src="https://media.giphy.com/media/Qgm6tIYrSQqC4/giphy.gif">

*image source: https://media.giphy.com/media/Qgm6tIYrSQqC4/giphy-downsized-large.gif*